
  <script src="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.js" integrity="sha384-0LaRLH/U5g8eCAwewLGQRyC/O+g0kXh8P+5pWpzijxwYczD3nKETIqUyhuA8B/UB" crossorigin="anonymous"></script>
	
  <link rel="stylesheet" href="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.css" integrity="sha384-44GnAqZy9yUojzFPjdcUpP822DGm1ebORKY8pe6TkHuqJ038FANyfBYBpRvw8O9w" crossorigin="anonymous">

<link rel="stylesheet" href="/css/dashboard.css">




<div class="contain">

    <table>
    <tr>
    <td>
    <section>
    <label for="fileToUpload">
    <i class="fa fa-camera"></i>
    <input type="file" id="fileToUpload" style="visibility:hidden;" accept=".png,.jpg,jpeg,.PNG,.JPEG" name="fileToUpload" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
    </label>
    <img src="https://i.ibb.co/yNGW4gg/avatar.png" id="blah" alt="Avatar">
    </section>
    <h1>{{mentorData.first_name}} {{mentorData.last_name}}</h1>
    <h3>Mentor</h3>
    </td>
    <td>
    <ul>
    <li><b>Name</b> <input type="text" name="fname" id="fname" maxlength="100" value={{mentorData.first_name}} {{mentorData.first_name}} /></li>
    <li><b>Email</b> <input type="email" name="email" id="email" maxlength="150" value= {{mentorData.email}} /></li>
    <li><b>About <p>{{mentorData.description}} </p></b> 
    </li>
    </ul>
    </td>
    </tr>
    
    <td class="section2">
    <h2 style="text-align:left;">Mentee Matches</h2>
    
    <ul>
      {{#each uniqueStudents as |student| }}
 
 <span>
        <li>{{student.first_name}} {{student.last_name}}
            <button data-student-id="{{student.id}}" type="button" class="btn btn-success nt-3 sessionBtn" >Book Session</button>
        </li>
      </span>
{{/each}}
     
    </ul>
    
    <div class="calender" id="hide" style="visibility:hidden">
      <div class="description">
        <div style="font-size: 1.4em;">Session Availbility  </div>
        <div>Request Mentor Session</div>
      </div>
  
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Calendar element -->
        <div id="events-calendar"></div>
        <!-- Events -->
        <div id="events"></div>
        <!-- Clear -->
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <button type="button" class="btn btn-success nt-3" id="colseBtn" onclick="closeBtn()">Close</button>
    </div>
    
    </td>
    <td class="inframe">
    <h2>Your Sessions</h2>
    <div class="col offset-md-1">
      <div class="row">
      </div>
      <table class="table table-bordered table-hover table-striped table-sm" id="appointment_list">
          <thead class="thead-dark">
              <tr>
                  <th scope="col" class="text-center align-middle">Mentee</th>
                  <th scope="col" class="text-center align-middle">Date</th>
                <th scope="col" class="text-center align-middle">Cancel</th>
              </tr>
               {{#each mentorData.appointments as |appointment| }}
               <tr>
                  <td scope="col" class="text-center align-middle">{{appointment.student.first_name}} {{appointment.student.last_name}}</td>
                  <td scope="col" class="text-center align-middle">{{appointment.date_time}}</td>
                 <td scope="col"  class="text-center align-middle"> <button data-appointment-id="{{appointment.id}}" type="button" class="btn btn-success nt-3 deleteBtn" >Cancel</button></td>
                 </tr>
 
                {{/each}}
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    </div>
</table>
<script src="/js/jsCalendar.js"></script>